configuration {
  show-icons: true;
  disable-history: false;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "/home/ning/.config/rofi/themes/rounded-nord-dark.rasi"
